<div id="header">
  <ul class="nav nav-pills menu-items col-sm-offset-3">
    <li><%= link_to "MEET DESIGNERS", '#' %></li>
    <li><%= link_to "DESIGNS", '#' %></li>
    <li><%= link_to "JUST FOR YOU", '#' %></li>
    <li><%= link_to "ABOUT US", about_path %></li>
  </ul>
</div>
